.app {
	display: flex;
}

.grid-and-btn {
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	width: fit-content;
}

.btn {
	width: 5rem;
	padding: 0.3rem;
}
